/*Formato*/
div#head, div#foot{background:black;color:#fff;padding:1ex;text-align:center}
div#foot{clear:both;}
/*List*/
ul#list{float:left;height:30ex;margin-right:5ex;}
ul#list li{list-style-type:none; padding:0.5ex;margin:0.1ex;border-bottom:1px solid #000}
ul#list li:hover{color:#fff;background:#000}
ul#list li a{text-decoration:none;display:block;}
/*form*/
form#data{padding:1ex;margin:2ex}
input{display:block; border:1px #000 solid ; border-radius:1ex;padding:.3ex;}


/* Formatea los mensajes Flash::xxx() de KumbiaPHP */
.flash {
	border: 1px solid;
	margin: 1px 0;
	min-height: 32px;
	padding:3px 10px 3px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../img/default/error.png');
}

.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../img/default/info.png');
}

.valid {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('../img/default/valid.png');
}
.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../img/default/warning.png');
}

.highlight {
	background: #FFFFDF;
}
